body{
	margin: 0;
    padding: 0;
    overflow-x: hidden;
    
}
.container{
    height: 100vh;
	width: 100vw;
	text-align: center;	
	background-image: url(img/bg4.jpg);
	background-repeat: no-repeat;
    background-size: cover;
    
    
    
}
.header{
	height: 10vh;
    width: 100vw;
    
}
.header .logo{
    margin-top: 20px;
    padding-left: 45px;
    width: 225px;
}
.hamburger{
    width: 25px;
    height: 25px;
    border: 0;
    border-top: 3px solid #000;
    background: transparent;
    position: relative;
    transition: 0.3s transform linear;
    float: right;
    margin-top: 28px;
    margin-right: 20px;
    
}
.hamburger::before, .hamburger::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-top: 3px solid #000;
    transform: translateY(7px);
}
.hamburger::after{
    transform: translateY(17px);
    transition: 0.3s transform linear;
}
.hamburger:focus{
    transform: rotate(45deg) translateY(5px);
    border: none;
}
.hamburger:focus:after{
    transform: rotate(-90deg) translateX(-7px);
}
.hamburger_label{
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}
.site-nav{
    height: 20px;
    width: 100vw;
    
}
.site-menu{
    display: none;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: #000;
    opacity: 0.9;
    z-index: 2;
    
}
.site-menu ul{
    padding: 0;
    list-style-type: none;
    margin: 0 10px;
    transform: translate(-50%, -50%);
	position: absolute;
	top: 50%;
    left: 50%;
}
.site-menu li{
    margin-top: 20px;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Helvetica';
}
.site-menu a{
    padding: 10px;
    text-decoration: none;
    height: 100%;
    width: 100%;
}

.hamburger:focus ~ .site-menu, .site-menu:hover{
    display: flex;

}

form{
	display: flex;
}
.up_file{
	transform: translate(-50%, -50%);
	position: absolute;
	left: 50%;
	top: 65%; 	
}
.popraw{
	background: #000;
	color: #ccc;
	width: 240px;
	height: 50px;
	border: 1px solid #338033;
	font-size: 18px;
	border-radius: 25px;
	overflow: hidden;
	display: inline-block;	
	cursor: pointer;
}
.add-file{
	display: none;
}
.icon-btn{
	width: 50px;
	height: 50px;
	border: 1px solid #000;
	border-radius: 25px;
	overflow: hidden;
	position: relative;
	background: #fff;
}
.add-btn::before{
	left: 15px;
	border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
.add-icon::before {
    left: 23px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
.add-icon::after, .add-icon::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 2px;
    top: calc(50% - 10px);
    background: red;
    overflow: hidden;
}
.add-btn::before, .add-btn::after {
    content: "";
    position: absolute;
    height: 4px;
    width: 10px;
    top: calc(50% - 2px);
    background: red;
}






.container_two{
	height: 100vh;
	width: 100vw;
	text-align: center;	
    position: relative;
    
   

}
.bg{
	height: 100vh;
	width: 100%;
    opacity: 0.8;
    position: relative;
    background: #484d5c;
}
.bg_text{
	width: 100%;
	transform: translate(-50%, -50%);
	position: absolute;
	top: 10%;
	left: 50%;
}
.bg .napis{
	color: #ffce00;
	font-size: 50px;
	font-family: 'Oswald';
	font-weight: bold;
	
}
.bg .litera{
	color: #ffce00;
	font-size: 50px;
	font-family: 'Oswald';
	font-weight: bold;
}
.content_text{
	width: 70%;
	transform: translate(-50%, -50%);
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
}

.first_text p{
	color: #c0ccd4;
	font-size: 20px;
    font-family: 'League Gothic';
    text-transform: uppercase;
}

.second_text p{
	color: #c0ccd4;
	font-size: 20px;
    font-family: 'League Gothic';
    text-transform: uppercase;
}

.third_text p{
	color: #c0ccd4;
	font-size: 20px;
    font-family: 'League Gothic';
    text-transform: uppercase;
}
.content_icons{
	width: 70%;
	transform: translate(-50%, -50%);
	position: absolute;
	top: 90%;
	left: 50%;

}




.container_three{
    height: 100%;
    width: 100vw;
    
}
.color{
    height: 80vh;
    background: #4d5b5d;
    
}
.about{
 
}
.about h1{
		padding-bottom: 10px;
		font-family: 'Helvetica', sans-serif;
        font-size: 50px;
        text-align: center;
}
.photo{
	width: 100%;
}
.photo img{
	width: 90%;

}
.text{
	width: 100%;
	text-align: justify;
}
.text h1{
	font-size: 35px;
	text-align: center;
    color: #991701;
    font-family: 'Helvetica', sans-serif;
}
.text p{
	color: #000;
	padding: 10px;
	margin: 0;
	font-family: 'Myriad Pro';
}
.text span{
	color: #991701;
}
.social{
	text-align: right;
	padding-right: 10px;
}


.container_four {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
  }
  .c-video{
      width: 100%;
      overflow: hidden;
      
  }
  .c-video:hover .controls{
      transform: translateY(0);
  }
  .container_four video {
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
.controls{
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    flex-wrap: wrap;
    background: rgba(0, 0, 0, 0.7);
    transform: translateY(100%) translateY(-5px);
    transition: all 0.2s;
}
.buttons button{
    background: none;
    border: 0;
    outline: 0;
}
.buttons{
    padding: 10px;
}
.buttons button:before{
    content: '\f144';
    font-family: 'Font Awesome 5 Free';
    width: 30px;
    height: 30px;
    display: inline-block;
    font-size: 28px;
    color: #fff;
    -webkit-font-smoothing: antialiased; 
}
.buttons button.play:before{
    content: '\f144';
}
.buttons button.pause:before{
    content: '\f28b';
}
.orange-bar{
    height: 10px;
    top: 0;
    left: 0;
    width: 100%;
    background: #000;
}
.orange-juice{
    height: 10px;
    background-color: orange;
}





@media screen and (min-width: 600px) and (orientation:landscape) { 
    .container_three{height: 120vh;}
}

@media screen and (min-width: 900px) { 

    .header .logo{width: 250px; padding-left: 20px; float: left;}
    .hamburger{display: none;}
    .site-menu{display: block; position: static; float: left; height: 10vh; width: 45%;background: none;opacity: 1;z-index: 1;float: right;}
    .site-menu ul{transform: none; position: static; margin-top: 20px; text-align: right; padding-right: 20px;}
    .site-menu a{display: inline; cursor: pointer; }
    .site-menu li{display: inline; color: #000; font-size: 15px;}
    .site-menu .how_to_work{display: none;}
    .site-menu:hover{display: block;}
   
    .container_three{height: 50vh;}
    .container_four{display: none;}
    .language{top: 10px;}
    


}

@media screen and (min-width: 500px) { 

.about{height: 80vh;}
    .about .hi{display: none;}
    .photo{width: 50%; float: left;  height: 100%;}
    .photo img{ width: 70%; margin-top: 100px; }
    .text{float: left; width: 50%; padding: 0;  text-align: justify; height: 100%;}
    .text p{width: 90%;}
    .social{margin-right: 20px;}
}



@media screen and (orientation:landscape) { }